spring:
  application:
    name: gestao-financeira

  datasource:
    url: jdbc:postgresql://172.18.112.1:5432/gestao_financeira
    username: postgres
    password: 247935
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true 

  flyway:
    enabled: true
    baseline-on-migrate: true 
    locations: classpath:db/migration
logging:
  level:
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE